language: node_js
node_js:
  - 14.15.1
services:
  - docker
before_install:
  - docker build -t souravdeveloper/docker-production-app -f Dockerfile.dev .
script:
  - docker run souravdeveloper/ocker-production-app npm run test -- --coverage
